:host {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;

  ul li a:hover {
    background-color: gray;
  }

  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul li {
    float: left;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
}
