<h3>Cadastro de produtos</h3>

<p>
  Nessa página voce pode realizar o cadastro dos seus produtos
</p>

<form [formGroup]="productForm" (ngSubmit)="createProduct()">

  <label for="productName">Product Name</label><br>
  <input id="productName" type="text" formControlName="productName" /><br>

  @if(productForm.get('productName')?.errors?.['required'] && productForm.get('productName')?.touched){
    <small>É necessário informar o nome do produto</small>
  }
  <br>
  <br>

  <label for="productCode">Product Code</label><br>
  <input id="productCode" type="text" formControlName="productCode" /><br>

  @if(productForm.get('productCode')?.errors?.['required'] && productForm.get('productCode')?.touched){
    <small>É necessário informar o codigo do produto</small>
  }
  <br>
  <br>

  <label for="price">Price</label><br>
  <input id="productPrice" type="number" formControlName="productPrice" /><br>

  @if(productForm.get('price')?.errors?.['required'] && productForm.get('price')?.touched){
    <small>É necessário informar o preço do produto</small>
  }
  <br>
  <br>

  <label for="description">Product description</label><br>
  <input id="productDescription" type="text" formControlName="description" /><br>
  @if(productForm.get('description')?.errors?.['required'] && productForm.get('description')?.touched){
    <small>Informe uma descrição para o produto</small>
  }
  <br>
  <br>

  <label for="unit">Unit</label><br>
  <input id="productUnit" type="text" formControlName="unit" /><br>
  @if(productForm.get('unit')?.errors?.['required'] && productForm.get('unit')?.touched){
    <small>Informe a unidade de medida do produto</small>
  }
  <br>
  <br>

  <button>Enviar</button>
</form>
