<app-header />

<main>
  <section id="erp-report">
    <h1>Resumo geral</h1>

    <p>
      Pellentesque porta, enim ac cursus scelerisque, odio sapien ornare sem, eu pharetra magna ex quis nisi.
      Mauris accumsan nisi in orci ultricies, nec faucibus odio finibus. Quisque imperdiet augue sapien, non faucibus velit dapibus sed.
      Duis sodales dui enim, a dignissim justo imperdiet in. Morbi ultrices efficitur condimentum.
      Curabitur a felis et ex accumsan cursus. Sed eget nulla quam. Aliquam erat volutpat.
      Vivamus dapibus dictum arcu, sed gravida neque pellentesque sagittis. Nullam ipsum sem, congue at tortor sed, accumsan rutrum lectus.
      Suspendisse viverra nunc sed fermentum faucibus. Curabitur mollis commodo metus id porttitor.
    </p>

    <section id="mat-card-section">
      <mat-card class="product-card" appearance="outlined">

        <mat-card-header id="product-card-header">
          <mat-card-title>Produtos</mat-card-title>
          <mat-card-subtitle>Dashboard para produtos criados o sistema</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <app-productchart />
        </mat-card-content>
      </mat-card>

  </section>
    </section>
</main>
